.container__main {
    background: linear-gradient(to right, #add8e6, #bfefff);
    animation: gradient 10s ease infinite;
}

.container__content {
    margin-left: 20rem;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
}