.game {
  display: grid;
  place-items: center;
  height: 100vh;
  max-width: 60rem;
  margin-inline: auto;
  padding: 1rem;
}

.game__title {
  font-size: 3rem;
  text-align: center;
}

.hangman {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 2rem;
  grid-template-columns: 1fr;
  border-radius: 1rem;
  background: var(--card);
  color: var(--card-foreground);
  border: 2px solid var(--border);
  padding: 1rem;


  & .hangman__hint {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    background: var(--primary-foreground);

    .hangman__hint__text {
      font-size: 1.125rem;
      font-weight: 600;
    }

    img{
      width: 2rem;
      height: 2rem;
      color: var(--primary);
    }
  }


  & .hangman__description{
    margin: 1rem 0;
  }

  & .hangman__lives{
    font-size: 1.25rem;
    margin: 1rem 0;
    color: var(--primary);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
  }
}

.hangman__word {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 4rem;
  list-style-type: none;
  margin-bottom: 2rem;
}
