.game {
  display: grid;
  place-items: center;
  height: 100vh;
  max-width: 60rem;
  margin-inline: auto;
}

.hangman {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 2rem;
  grid-template-columns: 1fr;
  border-radius: 1rem;

  & .hangman__word {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 4rem;
    list-style-type: none;
  }

 

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
