.keyboard__key {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.25rem;
  background-color: var(--primary);
  color: var(--primary-foreground);
  border-radius: 0.25rem;
  font-size: 1.25rem;
  box-shadow: 0.5rem 0.5rem 0rem var(--card-foreground);
  cursor: pointer;

  &:hover {
    opacity: 0.8;
    transition: opacity 0.3s ease;
  }

  &:disabled {
    cursor: not-allowed;
    box-shadow: none;
    background-color: var(--primary-foreground);
    color: var(--primary);
  }

  &:active {
    transform: translateY(2px);
  }
}
