@import url("./reset.css");
@import url("./variables.css");
@import url("./header.css");
@import url("./typography.css");
@import url("./sidebar.css");
@import url("./container-content.css");
@import url("./intro.css");
@import url("./steps.css");
@import url("./modal.css");
@import url("./keyboard.css");
@import url("./hangman.css");


html{
  scroll-behavior: smooth;
}
.hide {
  display: none;
}

.win,
.lose {
  font-weight: 900;
  font-size: 1.25rem;
}

.win {
  color: #4bb543;
}
.lose {
  color: red;
}
